cloud_volume==12.0.0
docutils==0.21.2
einops==0.8.0
GPUtil==1.4.0
h5py==3.12.1
igneous==1.1.1
igneous_pipeline==4.27.0
imageio==2.36.1
mahotas==1.4.18
matplotlib==3.9.4
monai==1.4.0
numpy==1.26.4
opencv_python==4.10.0.84
pandas==2.3.3
Pillow==11.0.0
PyYAML==6.0.2
rich==14.2.0
scikit_learn==1.6.0
scipy==1.13.1
setuptools==75.1.0
scikit-image==0.24.0
task_queue==2.14.0
tifffile==2024.8.30
tqdm==4.67.1
yacs==0.1.8
